.WriteSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -10px;
  left: -5px;
}
.WriteBody {
  display: flex;
  justify-content: center;
}
.WriteMainSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.WriteTopArea {
  position: relative;
  width: 100vw;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}
.WriteInput {
  width: 800px;
  height: 300px;
}
.WriteTitleInput {
  width: 300px;
}
.WriteHead {
  padding: 10px 0 10px 0;
}
.WriteBtSection {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
}
.writeNaverLogo {
  background-image: url(/public/writnaverlogo.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: relative;
  left: 20px;
}
.writeLogo {
  background-image: url(/public/writblogogo.svg);
  background-size: 48px 26px;
  background-repeat: no-repeat;
  width: 48px;
  height: 26px;
  margin-top: 5px;
  display: block;
  position: relative;
  left: 30px;
}
.WriteTopMenu {
  font-size: 12px;
  font-weight: bold;
  width: 200px;
  position: relative;
  display: flex;
  left: 1500px;
}
.WriteTopText {
  color: gray;
  cursor: pointer;
}
