.CategoryMainSection {
  position: relative;
  margin-top: 20px;
}
.MainCategoryBlock {
  display: inline-block;
  position: relative;
}
.CategoryScale {
  position: relative;
  width: 770px;
  margin: auto;
}
.MainCategoryHeader {
  width: 96px;
  height: 49px;
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  font-weight: bold;
  margin: auto;
}
.BoxScale {
  position: relative;
  width: 97px;
  height: 49px;
  margin: auto;
}
.CategoryPrevArrowBt {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 6px;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.CategoryNextArrowBt {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 6px;
  left: 746px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.CategorysPrevArrow {
  background-image: url(/public/navericon.png);
  background-size: 442px 428px;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-position: -46px -296px;
  background-repeat: no-repeat;
}
.CategoryNextArrow {
  background-image: url(/public/navericon.png);
  background-size: 442px 428px;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-position: -92px -296px;
  background-repeat: no-repeat;
}
.NoneArrow {
  display: none;
}
.NoneContents {
  display: none;
}
.ShowContents {
  display: block;
}
.Category01 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #e65da0;
  color: white;
  font-weight: bold;
}
.Cat01:hover {
  color: #e65da0;
}
.Category02 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #0147b5;
  color: white;
  font-weight: bold;
}
.Cat02:hover {
  color: #0147b5;
}
.Category03 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #4a94e1;
  color: white;
  font-weight: bold;
}
.Cat03:hover {
  color: #4a94e1;
}
.Category04 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  color: white;
  background-color: #66c971;
  font-weight: bold;
}
.Cat04:hover {
  color: #66c971;
}
.Category05 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #35ae5e;
  color: white;
  font-weight: bold;
}
.Cat05:hover {
  color: #35ae5e;
}
.Category06 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #5290ff;
  color: white;
  font-weight: bold;
}
.Cat06:hover {
  color: #5290ff;
}
.Category07 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #ebaa00;
  color: white;
  font-weight: bold;
}
.Cat07:hover {
  color: #ebaa00;
}
.Category08 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #c08d31;
  color: white;
  font-weight: bold;
}
.Cat08:hover {
  color: #c08d31;
}
.Category09 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #42be6f;
  color: white;
  font-weight: bold;
}
.Cat09:hover {
  color: #42be6f;
}
.Category10 {
  opacity: 0.7;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0 1px rgb(202, 202, 202) inset;
  background-color: #8449ca;
  color: white;
  font-weight: bold;
}
.Cat10:hover {
  color: #8449ca;
}
