.M4SwiperAdMain {
  position: relative;
  width: 352px;
  height: 314px;
}
.SwiperAdvertisement01 {
  background-image: url(/public/advertise01.jpg);
  display: block;
  position: absolute;
  background-size: 352px 200px;
  width: 352px;
  height: 200px;
}
.SwiperAdvertisement02 {
  background-image: url(/public/advertise02.jpg);
  display: block;
  position: absolute;
  background-size: 352px 200px;
  width: 352px;
  height: 200px;
}
.SwiperAdvertisement03 {
  background-image: url(/public/advertise03.jpg);
  display: block;
  position: absolute;
  background-size: 352px 200px;
  width: 352px;
  height: 200px;
}
.SwiperAdvertisement04 {
  background-image: url(/public/advertise04.jpg);
  display: block;
  position: absolute;
  background-size: 352px 200px;
  width: 352px;
  height: 200px;
}
