body {
  width: 100%;
}
.mainsection {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: auto;
}
.MainSpace {
  display: block;
  position: relative;
  height: 15px;
}
.MainSpace2 {
  display: block;
  position: relative;
  height: 30px;
}
