.MySwiper10 {
  width: 370px;
  height: 21px;
}
.WeaterSection1 {
  display: flex;
}
.WeatherIcon {
  background-image: url(/public/weathericon.png);
  display: inline-block;
  width: 29px;
  height: 29px;
  background-position: -31px 0;
  background-repeat: no-repeat;
  top: -5px;
  background-size: 215px 184px;
  position: relative;
}
.WeatherSubInfo {
  display: flex;
  font-size: 14px;
  color: rgb(172, 172, 172);
}
.WeatherSubInfo > span:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  color: black;
  margin-top: -2px;
}
.WeatherSubInfo > span:nth-child(2) {
  color: blue;
  margin-left: 10px;
}
.WeatherSubInfo > span:nth-child(4) {
  color: red;
}
.WeatherSubInfo > span:nth-child(3) {
  margin-left: 3px;
  margin-right: 3px;
}
.WeatherSubInfo > span:last-child {
  color: rgb(134, 134, 134);
  margin-left: 10px;
}
.WeatherSubInfo span {
  margin-top: 0px;
}
.DustIcon {
  background-image: url(/public/navericon.png);
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: -420px -266px;
  background-repeat: no-repeat;
  background-size: 457px 434px;
  position: relative;
  margin-left: 10px;
}
.DustSection1 {
  display: flex;
  font-size: 14px;
  color: black;
}
.DustSection1 > span:nth-child(3) {
  margin-left: 7px;
  font-weight: bold;
}
.DustSection1 > span:nth-child(4) {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.3;
}
.DustSection1 > span:nth-child(7) {
  margin-left: 7px;
  font-weight: bold;
}
.DustSection1 > span:last-child {
  color: rgb(172, 172, 172);
  margin-left: 10px;
}
