.EditorTopArea {
  position: absolute;
  width: 100vw;
  height: 54px;
  top: 0;
  left: 0;
  background-color: #00c73c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.EditorTopLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  position: relative;
  left: 20px;
}
.EditorTopFunc {
  width: 200px;
  display: flex;
  position: relative;
}
.EditorTopFuncText {
  font-size: 14px;
  display: block;
  position: relative;
  color: white;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.EditorNaverLogo {
  background-image: url(/public/naverbloglogo.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  cursor: pointer;
}
.EditorBlogLogo {
  background-image: url(/public/blogLogo.svg);
  background-size: 48px 26px;
  background-repeat: no-repeat;
  width: 48px;
  height: 26px;
  margin-top: 5px;
  display: block;
  position: relative;
}
.EditorTopBar {
  width: 1px;
  height: 21px;
  background-color: white;
  opacity: 0.5;
  margin-left: 7px;
  margin-right: 5px;
}
.EditorTopTitle {
  color: white;
  font-size: 20px;
}
.FuncBlogcategoryEdit {
  width: 728px;
  height: 542px;
  border-bottom: 2px solid black;
}
.FunctionVisible {
  display: block;
}
.FunctionVisibleNone {
  display: none;
}
.EditorSection {
  position: relative;
  width: 100vw;
  height: 1000px;
  top: 45px;
  left: -5px;
}
.EditorTopSection {
  display: block;
  position: relative;
  top: 55px;
}
.EditorMainMenuSection {
  display: flex;
  width: 100vw;
  height: 40px;
  border-bottom: 1px solid #dae1e6;
  position: relative;
  align-items: center;
}
.EditorMainMenu {
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}
.EditorMainMenuActive {
  font-size: 14px;
  margin-left: 20px;
  color: #00c73c;
  font-weight: bold;
  cursor: pointer;
}
.EditorMainMenu:hover {
  color: #00c73c;
  font-weight: bold;
  cursor: pointer;
}
.EditorFunctionSection {
  display: flex;
}
.FunctionSideMenu {
  position: relative;
  width: 150px;
  height: 1000px;
  border-right: 1px solid #dae1e6;
  padding: 25px 20px 0;
  font-size: 12px;
}
.FunctionTitle {
  font-size: 13px;
  font-weight: bold;
  height: 27px;
}
.FunctionText {
  height: 20px;
  cursor: pointer;
}
.FunctionText:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ClickFunctionText {
  color: #00c73c;
  font-weight: bold;
  height: 20px;
  cursor: pointer;
}
.BasicFunction {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 90px;
  border-bottom: 1px solid #dae1e6;
}
.FunctionBlogInfoSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 1000px;
  padding: 35px 40px 70px;
}
.FuncBlogInfoTitle {
  width: 728px;
  height: 42px;
  border-bottom: 2px solid black;
}
.FuncBlogInfoTitleText {
  font-size: 20px;
  font-weight: bold;
}
.FuncBlogInfoAddress {
  display: flex;
  align-items: center;
  width: 728px;
  height: 76px;
  border-bottom: 1px solid #dae1e6;
}
.FuncBlogName {
  display: flex;
  align-items: center;
  width: 728px;
  height: 76px;
  border-bottom: 1px solid #dae1e6;
}
.FuncNickName {
  display: flex;
  align-items: center;
  width: 728px;
  height: 76px;
  border-bottom: 1px solid #dae1e6;
}
.FuncBlogIntroduction {
  display: flex;
  align-items: center;
  width: 728px;
  height: 176px;
  border-bottom: 1px solid #dae1e6;
}
.FuncBlogCategory {
  display: flex;
  align-items: center;
  width: 728px;
  height: 76px;
  border-bottom: 1px solid black;
}
.FuncSubTitle {
  width: 138px;
  font-size: 14px;
  font-weight: bold;
}
.FuncSubTitle2 {
  position: relative;
  height: 20px;
  width: 138px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 10px 0;
}
.FuncSupportText {
  width: 285px;
  color: #8a8a8a;
  font-size: 13px;
}
.FuncEditArea {
  width: 285px;
  font-size: 13px;
}
.FunctionButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 728px;
  height: 100px;
}
.FunctionSaveBt {
  width: 80px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dae1e6;
  cursor: pointer;
}
.inputBlogName {
  width: 260px;
  height: 25px;
  border: 1px solid #dae1e6;
}
.inputNickName {
  width: 260px;
  height: 25px;
  border: 1px solid #dae1e6;
}
.inputBlogIntroduction {
  width: 260px;
  height: 125px;
  border: 1px solid #dae1e6;
}
.BlogCategory {
  width: 265px;
  height: 35px;
  border: 1px solid #dae1e6;
}
.FuncCatEditBtArea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
}
.CatAddBt {
  position: relative;
  width: 87px;
  height: 20px;
}
.CatLineAddBt {
  position: relative;
  width: 77px;
  height: 20px;
}
.CatDelBt {
  position: relative;
  left: 20px;
  width: 44;
  height: 20px;
}
.CatUpdateBt {
  position: relative;
  left: 10px;
  width: 87px;
  height: 20px;
}
.FuncCatBt {
  font-size: 11px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.CatBoxLine {
  width: 228px;
  height: 388px;
  border: 1px solid rgb(71, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CatListBox {
  display: inline-block;
  position: relative;
  width: 224px;
  height: 384px;
  left: 0px;
  border: 1px solid black;
}
.FuncCatGenerate {
  display: flex;
}
.FunCatDetailInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.FunCatDetailInfoTitle {
  position: relative;
  width: 100px;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.FunCatDetailInfoArea {
  position: relative;
  width: 400px;
  left: 30px;
}
.DBCatArea {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  position: relative;
  margin-top: 10px;
}
.DBMainCat {
  display: block;
  position: relative;
  width: 150px;
  background-color: yellow;
}
.CatLine {
  width: 200px;
  height: 1px;
  border-bottom: 1px dashed grey;
}
