.WriteSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgb(224, 224, 224);
  height: auto;
}
.WriteBody {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 224, 224);
  padding-bottom: 80px;
  position: relative;
  top: 30px;
}
.WriteMainSection {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 1200px;
  padding: 40px 50px 50px 50px;
}
.WriteTopArea {
  position: relative;
  width: 100vw;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}
.WriteTitleInput {
  width: 800px;
  height: 50px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: 30px;
  position: relative;
  left: 30px;
}
.WriteCatSelet {
  position: relative;
  height: 53px;
  font-size: 20px;
  width: 250px;
  outline: none;
  text-align: center;
}
.WriteHead {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  width: 800px;
  height: 80px;
}
.WriteBtSection {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
}
.writeNaverLogo {
  background-image: url(/public/writnaverlogo.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: relative;
  left: 20px;
}
.writeLogo {
  background-image: url(/public/writblogogo.svg);
  background-size: 48px 26px;
  background-repeat: no-repeat;
  width: 48px;
  height: 26px;
  margin-top: 5px;
  display: block;
  position: relative;
  left: 30px;
}
.WriteTopMenu {
  font-size: 12px;
  font-weight: bold;
  width: 200px;
  position: relative;
  display: flex;
  left: 1500px;
}
.WriteTopText {
  color: gray;
  cursor: pointer;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 700px;
  margin-bottom: 20px;
  font-family: "NanumSquareNeo-Variable";
}
.WriteSaveBt {
  background-color: #00c73c;
  border: 1px solid #009e2f;
  font-size: 20px;
  color: white;
  font-weight: 500;
  padding: 8px 18px 8px 18px;
  cursor: pointer;
}
.ChoiceCat {
  color: grey;
  opacity: 0.2;
}
