.MyBlogBody {
  display: inline-block;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  padding-bottom: 100px;
  position: absolute;
  /* background-color: rgb(196, 196, 196); */
  background-image: url(/public/BlogMainSkin04.jpg);
  background-size: 3000px 2000px;
}
.MyBlogTopNav {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  width: 1150px;
  height: 130px;
  margin: auto;
}
.MyBlogTopMenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  right: -475px;
  margin: auto;
}
.MyBlogTopMenu > span:first-child {
  position: relative;
  top: 2px;
}
.MyBlogTopHead {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid black;
  font-size: 13px;
}
.MyBlogTopMenuText {
  font-size: 12px;
  color: grey;
  cursor: pointer;
}
.MyBlogTopMenuText:hover {
  text-decoration: underline;
}
.BlogTopMenuArrow {
  display: inline-block;
  position: relative;
  background-image: url(/public/blogtoparrow2.png);
  width: 13px;
  height: 13px;
  top: 3px;
  left: 5px;
}
.BlogTopMenuArrowActive {
  display: inline-block;
  position: relative;
  background-image: url(/public/blogtoparrow.png);
  width: 13px;
  height: 13px;
  top: 3px;
  left: 5px;
}
.MyBlogName {
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  width: 150px;
  height: auto;
}
.MyBlogName:hover {
  text-decoration: underline;
}
.MyBlogSubMenu {
  display: flex;
  width: 140px;
  justify-content: space-between;
}
.MyBlogSubMenuText {
  color: grey;
  cursor: pointer;
}
.MyblogSubMenuBar {
  display: inline-block;
  background-color: gray;
  width: 1px;
  height: 11px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
}
.BlogMyMenu {
  position: absolute;
  width: 80px;
  height: 60px;
  left: 60px;
  top: 45px;
  background-color: white;
  z-index: 99;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.BackAngle {
  position: absolute;
  rotate: 45deg;
  width: 30px;
  height: 30px;
  left: 25px;
  top: -2px;
  background-color: white;
  z-index: -1;
}
.BlogMyMenu2 {
  position: absolute;
  width: 100px;
  height: 60px;
  right: -20px;
  top: 45px;
  background-color: white;
  z-index: 99;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.BackAngle2 {
  position: absolute;
  rotate: 45deg;
  width: 30px;
  height: 30px;
  left: 30px;
  top: -2px;
  background-color: white;
  z-index: -1;
}
.MenuNone {
  display: none;
}
.BlogMyMenuList {
  margin: auto;
  width: 60px;
  height: 180px;
  z-index: 999;
  position: relative;
  top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BlogMyMenuList2 {
  margin: auto;
  width: 60px;
  height: 180px;
  z-index: 999;
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
}
.BlogMyMenueText {
  font-size: 14px;
  color: black;
  height: 20px;
  cursor: pointer;
}
.BlogAllContentList {
  position: relative;
  display: inline-block;
}
.BlogTopListArea {
  display: flex;
}
.BlogAllContentLineList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 30px;
  font-size: 13px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.BlogAllContentLineList > span {
  width: 400px;
  text-align: right;
}
.BlogAllContentLineList > span:first-child {
  text-align: center;
  position: relative;
  left: 40px;
  cursor: pointer;
}
.LineListHeadTitle {
  font-size: 14px;
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 35px;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.LineListHeadTitle > span {
  width: 100px;
  color: rgb(179, 179, 179);
}
.LineListHeadTitle > span:first-child {
  position: relative;
  left: 250px;
}
.BlogListShow {
  display: block;
  position: relative;
  width: 850px;
}
.BlogTopContentList {
  width: 150px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.BlogTopContentListText {
  position: relative;
  right: -650px;
  cursor: pointer;
}
.ListTextNone {
  display: none;
}
.BlogSearchArea {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  top: 10px;
}
.BlogSearchBox {
  position: relative;
  width: 150px;
  height: 22px;
  outline: none;
  border: 1px solid black;
}
.BlogSearchIcon {
  background-image: url(/public/blogicon.svg);
  position: absolute;
  right: 19px;
  top: 7px;
  background-position: -87px -24px;
  width: 24px;
  height: 24px;
  border: 1px solid black;
}
