.ing {
  position: relative;
  width: 500px;
  height: 50px;
  left: 50%;
  font-size: 50px;
  margin-top: 150px;
  cursor: pointer;
}
.ing:hover .end {
  display: block;
  color: red;
  animation: move;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
.end {
  display: none;
  position: absolute;
  top: 65%;
  left: 55%;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  position: relative;
  display: block;
  top: -10px;
  left: -10px;
  overflow-x: hidden;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
html,
body,
span,
div,
a,
section,
nav,
button,
input,
select,
option {
  font-family: "NanumSquareNeo-Variable";
}
